/* 와이드 pc  */

	
.videoBox{width:100%;height:100%; overflow:hidden; position:absolute}

#imgBG{
	position:fixed;
   left:50%;
   top:50%; 
   width:auto;
   min-width:100%; 
   height:auto;
   min-height:100%; 
  transform:translateX(-50%) translateY(-50%);
   z-index:-100;
}


.down{display: block; text-align: center; line-height: 1.5em; font-size: 20px; position: absolute; 
	 left:50%; margin-left: -30px; bottom: 8%;
	animation:ani 1s infinite  alternate; animation-timing-function  : ease-in-out;}
   
@keyframes ani {
   0%{transform: translateY(0);}
   100%{transform: translateY(30px);}
}	


.videoBox{width:100%;height:100%; overflow:hidden; position:absolute}
.videoBox .mainlogo{position: absolute; left: 50%; margin-left: -450px; top: 50%; margin-top: -125px;}

#headerArea #gnb ul li:nth-of-type(5) a{color: #006aff;}

h2,.btn a{font-family: 'Orbitron', sans-serif;}


#content .coninbox{background: rgba(0, 0, 0, .7);}
#content .subtit{width: 100%; text-align: center; position: absolute; left: 0; top: 50%; margin-top: -80px; text-shadow:#267dfa 0 0 20px;
   text-align: center; font-weight: 700; font-size: 8em;}


#content .conbox{width: 90%; height: 600px; margin: 0 5%; padding: 150px 0;}
#content .conin{width: 65%; height: 100%; margin-right: 5%; float: left;}
#content .conin ul{height: 100%;}
#content .conin li{width: 100%;}
.conin .incontent1,.conin .incontent2,.conin .incontent3,.conin .incontent4,.conin .incontent5,.conin .incontent6,.conin .incontent7{display: none;}
#content .incontent1{background: none; overflow: hidden; height: 100%;}
#content .incontent1 .inimg1{float: left; width: 30%; height: 100%; background: #ccc;}
#content .incontent1 .inimg_box1{float: left; width: 70%; height: 100%;}
#content .incontent1 .inimg_box2{overflow: hidden;height: 33.33%;}
#content .incontent1 .inimg2{width: 50%; height: 100%; background: #000; float: left;}
#content .incontent1 .inimg3{width: 50%; height: 100%; background: #00f; float: left;}
#content .incontent1 .inimg4{width: 100%; height: 33.33%; background: #0ff;}
#content .incontent1 .inimg_box3{overflow: hidden;height: 33.33%;}
#content .incontent1 .inimg5{width: 50%; height: 100%; background: #000; float: left;}
#content .incontent1 .inimg6{width: 50%; height: 100%; background: #00f; float: left;}






#content .incontent2{background: #000;}
#content .incontent3{background: #00f;}
#content .incontent4{background: #f0f;}
#content .incontent5{background: #ff0;}
#content .incontent6{background: #000;}
#content .incontent7{background: #0ff;}



#content .btn{float: right; width: 30%;}
#content .btn li{line-height: 2em; width: 100%; padding-bottom: 10px;}
#content .btn .stit{color: #ccc; font-size: 1.5em;}


@media screen and (max-width:1280px) {

}


/* 테블릿 */
@media screen and (max-width:1024px) {
 
}

/* 소형 테블릿 */
@media screen and (max-width:768px) {
   #content .subtit{font-size: 6em;}


}

/* 모바일 */
@media screen and (max-width:640px) {
   #content .subtit{font-size: 5em;}

}




