body{background: #efefef;}
.wrap{background: #fff; border-radius: 20px; width: 90%; margin: 5%; padding: 50px 0;}

.logo{display: block; width: 152px; height: 89px;
    background: url(../../images/logo2.jpg); text-indent: -999px; overflow: hidden; margin: 0 auto 40px;}

form{text-align: center;}
h2{font-family: 'Nanum Gothic', sans-serif; font-size: 2em; margin-bottom: 30px;}
.login_input{border: none; background: #efefef; width: 90%; margin: 0 5% 20px; height: 50px; border-radius: 10px;
    font-size: 1.1em; text-align: center;}
ul li:nth-of-type(2){margin-bottom: 40px;} 
#login_button button{border: none; background: #09c; color: #fff; width: 90%; padding: 15px 0; margin: 0 5%; border-radius: 10px;
    font-family: 'Nanum Gothic', sans-serif; font-weight: 700; font-size: 1.1em; cursor: pointer;}

#join_button a{display: block; border:2px solid #09c;color: #09c; width: 90%; padding: 13px 0; margin: 25px 5%; border-radius: 10px; box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif; font-weight: 700; font-size: 1.1em}
#join_button a:nth-child(2){background: #666; color: #fff; border:none; padding: 15px 0;}



