body{background: #efefef}

header .logo{display: block; font-family: 'Roboto', sans-serif; font-weight: 700; font-size: 4em; color: #09c; text-align: center; margin: 50px 0;}  
h2{font-size: 3em; margin-bottom: 30px; font-family: 'Nanum Gothic', sans-serif; font-weight: 700; text-align: center;}

#content{}  

.conline{width: 90%; margin: 50px 5%; background: #fff; padding: 50px 0; border: 1px solid #ccc; border-radius: 20px}

  
  #content form{margin-bottom: 20px;}
  #content .list_wrap{width: 90%; margin: 0 5%;}

  #content .form_row{overflow: hidden; background: #fff; width: 100%;} 
  #content .tel, #content .email{width: 90%; margin: 0 5%;}

  #content .form_row .tit{width: 100%;}
  #content .form_row li{width: 100%;}


  #content .tel .in_li{width: 100%;}
  #content .tel .in_li li{float: left;}
  #content .tel .in_li li.h1{width: 30%;}
  #content .tel .in_li li.h2{width: 33%; margin-left: 2%;}
  #content .tel .in_li li.h3{width: 33%; margin-left: 2%;}

  #content .tel .in_li li input{padding: 10px; width: 80%; background: #e5e5e5; border: 0; outline: none; }

  #content .email .in_li input{width: 40%; padding: 10px 2%; margin: 5px 1%; background: #e5e5e5; border: 0; outline: none;}
  #content .email .in_li #email1{margin-right: 1%;}
  #content .email .in_li #email2{margin-left: 1%;}
  #content .form_row .tit,#content .form_row .tit label,.tit span{font-family: 'Nanum Gothic', sans-serif; font-size: 1.15em; font-weight: 700; 
    padding: 15px 0; position: relative;}

  #content .tel .tit,  #content .email .tit{ padding: 15px 0;}


  #content .form_row .tit span{ position: relative;}
  #content .form_row .tit label::after,#content .form_row .tit span::after{content: '*';  display: block; position: absolute; 
      right: -18px; top: 2px; font-size: 20px; color: #e60012; }
  /* #content .form_row .tit span::after{} */

  #content .list_wrap input,#content select{padding: 15px 20px; margin: 0; width: 100%; background: #e5e5e5; border: 0; outline: none;}


  #content #loadtext span,#content #loadtext2 span{font-size: 1em; margin-left: 20px;}
  #content  #hp1{background: #fff; border: 1px solid #ccc; padding: 10px; border-radius: 5px; width: 100%;}
  
  #content .button{overflow: hidden; width: 90%; margin: 50px 5% 0;}
  #content .button li{float: left; width: 46%; margin: 0 2%;}
  #content .button a{display: block; text-align: center; padding: 20px 0; border-radius: 5px;
       font-family: 'Nanum Gothic', sans-serif; font-size: 1.2em; font-weight: 600; background: #09c; color: #fff;}

  .list_wrap .form_row .id{font-family: 'Roboto', sans-serif; font-weight: 700; font-size: 1.5em; margin: 20px 25px 0;}
  
  

