body{background: #efefef;}
.wrap{background: #fff; border-radius: 20px; width: 700px; margin: 100px auto; padding: 50px 0;}

.logo{display: block; width: 127px; height: 75px;
    background: url(../../common/images/toplogo.jpg); text-indent: -999px; overflow: hidden; margin: 0 auto 40px;}

form{text-align: center;}
.title h2{font-family: 'Nanum Gothic', sans-serif; font-size: 2em; margin-bottom: 20px;}
.title p{font-family: 'Nanum Gothic', sans-serif; font-weight: 700; margin-bottom: 30px;}


.find_input{border: none; background: #efefef; width: 500px; height: 50px; border-radius: 10px; margin-bottom: 30px;
    font-size: 1.1em; text-align: center;}

.telBox .find_input{width: 140px; text-align: left; padding: 5px 10px;}
.telBox input{height: 40px;}

.find{border: none; background: #09c; color: #fff; width: 500px; height: 50px;
    font-family: 'Nanum Gothic', sans-serif; font-weight: 700; font-size: 1.1em; cursor: pointer; border-radius: 10px; margin-bottom: 20px;}

#id_pw_input ul li:nth-of-type(2){margin-bottom: 0;} 
#login_button button{border: none; background: #09c; color: #fff; width: 500px; padding: 15px 0; border-radius: 10px;
    font-family: 'Nanum Gothic', sans-serif; font-weight: 700; font-size: 1.1em; cursor: pointer;}


.go{overflow: hidden; width: 500px; margin: 0 auto 40px;}
.go li{float: left; font-family: 'Nanum Gothic', sans-serif; color: #666;}
.go li:nth-of-type(2){float: right;}
.go li:nth-of-type(2) a{color: #666;margin-left: 10px;}

.login_line{width: 500px; border-bottom: 1px solid #ccc; margin: 0 auto;}
#join_button p{margin: 40px 0 15px;  font-family: 'Nanum Gothic', sans-serif; font-weight: 700; color: #666;}
#join_button a{display: block; border: 2px solid #666; color: #666; width: 500px; padding: 13px 0; margin: 0 auto 25px; border-radius: 10px; box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif; font-weight: 700; font-size: 1.1em}

.loadtexton{line-height: 1.5em; font-family: 'Nanum Gothic', sans-serif; width: 450px;
    color: #666; margin: 10px auto 25px; display: block;  border-top: 2px solid #666; border-bottom: 2px solid #666; padding: 10px 0;}


