/* 색다른특별함 내용 영역 */



#content .content_area{}
#content .content_area p{font-size: 2.25em; font-family: 'Nanum Gothic', sans-serif; text-align: center; margin-bottom: 100px;}
#content .content_area p span{font-weight: normal;}
#content .content_area p span:first-child{color: #09c;}
#content .content_area p span:last-child{color: #f93;}

#content .content_area ul{margin-left: 50px; width: 1100px;}
#content .content_area li{padding-bottom: 500px; overflow: hidden; position: relative;}
#content .content_area li::after{content: ''; display: block; background: #ccc; width: 2px; height: 300px; position: absolute; left: 550px; top: 950px;}
#content .content_area .last{padding-bottom: 150px;}
#content .content_area .last::after{content: ''; width: 0; height: 0;}
#content .content_area .con_sp1{background: url(../images/content2/sub1_2_03.jpg) no-repeat left bottom;}
#content .content_area .con_sp2{background: url(../images/content2/sub1_2_07.jpg) no-repeat right bottom;}
#content .content_area .con_sp3{background: url(../images/content2/sub1_2_10.jpg) no-repeat left bottom;}
#content .content_area .con_sp4{background: url(../images/content2/sub1_2_12.jpg) no-repeat right bottom;}
#content .content_area .con_sp5{background: url(../images/content2/sub1_2_14.jpg) no-repeat left bottom;}
#content .content_area .con_sp6{background: url(../images/content2/sub1_2_16.jpg) no-repeat right bottom;}

#content .content_area dl{position: relative; height: 720px;}

#content .content_area dt{font-size: 1.5em; font-family: 'Nanum Myeongjo', serif; text-align: center; margin-top: 80px; margin-bottom: 100px;}
#content .content_area dt span{font-family: 'Nanum Myeongjo', serif; color: #f93; line-height: 4em}
#content .content_area .number{font-size: 3em; font-family: 'Nanum Gothic', sans-serif; padding: 70px; border: 5px solid #f93; border-radius: 50%;}
#content .content_area .even_color span{color: #993;}
#content .content_area .even_color .number{ border: 5px solid #993; border-radius: 50%;}

#content .content_area dd{font-size: 1.25em; text-align: left; padding-left: 400px; line-height: 1.5em; padding-bottom: 20px;}
#content .even dd{text-align: right; margin-right: 400px; padding-left: 0;}







